@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: #f7f7f9;
}

.main-body {
  background-image: url(header-shapesmobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-left: 10px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 44px;
  padding-left: 10px;
  padding-right: 10px;
}

.body {
  height: 718px;
  width: 375px;
}

.My-logo {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  filter: contrast(14.5);
}

.menu-bar {
  width: 16px;
  left: 4px;
  top: 17px;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}

.intro-text {
  color: #091e42;
}

.abtmyself {
  color: #091e42;
}

.introdesktop {
  display: none;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}

.text2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 375px;
  height: 718px;
}

.works {
  display: grid;
  padding: 114px 24px;
}

.works .work {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin: 44px 0;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.works .workflip {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin: 44px 0;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.works .work-title {
  margin: 12px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work ul {
  display: flex;
  font-size: 10px;
}

.workflip ul {
  display: flex;
  font-size: 10px;
}

.canopycounter {
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 236px;
  top: 48px;
}

.counter {
  height: 8px;
  width: 8px;
  left: 187px;
  top: 12px;
}

.right-block {
  margin: 12px 0;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 295px;
  margin: 12px 0;
}

.left-block .action {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

.contactmeform .see-project button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 124px;
  height: 48px;
  background: #fff;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.left-block .action button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 124px;
  height: 48px;
  background: #fff;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.left-block .action button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

.left-block .action button:focus {
  background: #2230d2;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

.left-block .action button:disabled {
  background: #e5e5e5;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.tags {
  margin: 12px 0;
}

.tags .tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px 12px;
  width: 70px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  margin: 0 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #0025db;
  letter-spacing: 0.03em;
}

.tags .tag:first-child {
  margin-left: 0;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  background: #fff;
  border-radius: 0 100px 0 0;
}

.about-myself h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}

.about-myself p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 10px;
}

.programs,
.frameworks,
.skills {
  width: 100%;
  font-weight: lighter;
}

.skillstext,
.frameworktext {
  color: #253858;
  font-weight: lighter;
}

.backyear {
  font-weight: lighter;
}

.resume {
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: #fff;
}

.resume:hover {
  background: #6070ff;
  color: #ffff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

.resume:focus {
  background: #2230d2;
  color: #ffff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

.resume:disabled {
  background: #e5e5e5;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.about-skills {
  width: 327px;
  height: 72px;
}

.program {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin: 12px 0;
}

.program h4 {
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.program .arrow-down,
.framework .arrow-down,
.skill .arrow-down {
  width: 30px;
  height: 25px;
}

.desktopad1,
.desktopad2,
.desktopad3,
.desktopad4 {
  display: none;
}

.languages {
  display: grid;
  background: #fff;
}

.languages .language {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 6px 0;
  padding: 9px 12px;
}

.languages .language p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.framework,
.skill {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #dfe1e6;
  margin: 12px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.connect-link h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #1a30ff;
  line-height: 24px;
  text-decoration: none;
  padding-top: 10px;
}

.icons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: left;
}

.footer-section {
  padding: 114px 24px 20px 24px;
  align-items: center;
  background-image: url("contact-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100px 0 0 0;
}

footer .footer-info h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
}

.footer-info-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 12px 0;
}

footer form input,
textarea {
  display: block;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-top: 18px;
  border: none;
  border-radius: 8px;
  padding: 15px 16px;
}

.contact-button {
  width: 162px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

/* Hover */
.contact-button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
}

.contactmeform .see-project button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

.contactmeform .see-project button:focus {
  background: #2230d2;
  color: #fff;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.2);
}

.contactmeform .see-project button:disabled {
  background: #e5e5e5;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.desktop-menu {
  display: none;
}

.desktopad1 {
  display: none;
}

.desktop_show {
  display: none;
}

.desktoptext1,
.faceboktext {
  display: none;
}

.fbtext {
  display: none;
}

.ubertext {
  display: none;
}

/* Desktop Screen - All scrren sizes 600px and onwards */
@media (min-width: 992px) {
  /* Header Styles */
  header {
    padding: 25px 10%;
    background-color: white;
    display: flex;
  }

  header .meanu-bar {
    display: none;
  }

  .My-logo {
    height: 20px;
    width: 116px;
    left: 12px;
    top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .introdesktop {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    letter-spacing: 0.3700000047683716px;
  }

  .intro {
    display: none;
  }

  .desktop-menu {
    display: block;
  }

  .desktop-menu ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
  }

  .desktop-menu ul li {
    margin: 0 16px;
  }

  .footer .connect-link {
    padding-top: 20px;
  }

  .desktop-menu ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    margin: 0 10px;
    text-decoration: none;
  }

  .footer .connect-link a {
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    color: blue;
  }

  .main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 916px;
    background-color: white;
    background-image: url("header-desktop.png");
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 178.46px;
  }

  .desktopad1 {
    display: flex;
    height: 448px;
    width: 544px;
    left: 24px;
    top: 24px;
    border-radius: 8px;
  }

  .right-block {
    display: none;
  }

  .left-block {
    height: 445px;
    width: 544px;
    left: 590px;
    top: 24px;
    padding: 24px;
  }

  .canopycounter {
    height: 40px;
    width: 320px;
    top: 58px;
  }

  .works .workflip {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 44px auto;
    border-radius: 24px;
    padding: 24px;
    width: 1156px;
    height: 496px;
  }

  .text2 {
    display: flex;
    height: 98px;
    width: 920px;
    top: 134px;
  }

  .works .work {
    width: 1156px;
    height: 496px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 44px auto;
    border-radius: 24px;
    padding: 24px;
  }

  .left-block .desktop_show {
    padding-top: 70px;
    margin: 12px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    display: block;
  }

  /* About Styles */
  .desktopsize {
    height: 800px;
    padding: 114px 12%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .about-wrapper.about-programs {
    width: 684px;
    margin-left: 25px;
  }

  .about-texts p {
    margin-right: 25px;
  }

  .programs {
    display: grid;
  }

  .languages {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .language {
    width: 122px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .language img {
    text-align: left;
  }

  .languages .language p {
    margin: 16px 0;
  }

  footer {
    width: 801px;
    margin: auto;
    text-align: center;
  }

  .footer-info {
    width: 569px;
    margin: auto;
  }

  .contact-button {
    margin-top: 0;
  }

  footer form input,
  textarea {
    width: 447px;
    margin: 27px auto;
    border-radius: 2px;
  }

  .desktoptext1 {
    display: block;
  }

  .mobiletext1 {
    display: none;
  }

  .works .work-title {
    display: none;
  }

  .canopytext {
    display: none;
  }

  .fbtext {
    display: block;
  }

  .ubertext {
    display: block;
  }
}
